@media screen and (max-width: 576px) {
    .nav-main{
        flex-direction: column;
    }
    .head{
        flex-direction: column;
    }
    .sec1{
        flex-direction: column;
    }
    .btn1{
        flex-direction: row;
    }
    .btn2{
        flex-direction: row;
    }
    .txt{
        flex-direction: column;
    }
    .contain{
        flex-direction: column;
    }
    .all2{
        flex-direction: row;
    }
    .all3{
        flex-direction: row;
    }
    .all{
        flex-direction: row;
    }
    .divs{
        flex-direction: column;
    }
    /* .main-contain{
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e"
        "f";
    } */
    .row{
        flex-direction: column;
    }
    
    .copyright{
        flex-direction: column;
    }
    .dive{
        flex-direction: column;
    }
}