@media screen and (max-width: 576px) {
    .nav-main{
        flex-direction: column;
    }
    .head{
        flex-direction: column;
    }
    .sec1{
        flex-direction: column;
    }
    .btn1{
        flex-direction: row;
    }
    .btn2{
        flex-direction: row;
    }
    .txt{
        flex-direction: column;
    }
    .contain{
        flex-direction: column;
    }
    .all2{
        flex-direction: row;
    }
    .all3{
        flex-direction: row;
    }
    .all{
        flex-direction: row;
    }
    .divs{
        display: flex;
        flex-direction: column;
        /* position: absolute; */
    }
    .main-contain{
        flex-direction: column;
        position: static;
        display: flex;
    }
    .row{
        flex-direction: column;
    }
    
    .copyright{
        flex-direction: column;
    }
    .dive{
        flex-direction: column;
    }
    .bmi{
        flex-direction: column;
    }
    .row{
        display: flex;
        flex-direction: column;
        position:absolute;
    }
    .dib{
        position: static;
        display: flex;
        flex-direction: column;
    }
    .dibe{
        position: static;
        display: flex;
        flex-direction: column;
    }
    .dib2{
        position: static;
        display: flex;
        flex-direction: column;
    }
    .concs{
        display: flex;
        flex-direction: column; 
        position: static;
    }
    .conc{
        display: flex;
        flex-direction: column;
        position: static;
    }
    .conc2{
        display: flex;
        flex-direction: column;
        position: static;
    }
    .inputs{
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    .table{
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    
}