.inter-tight-normal {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    background-color: black;
}
.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.nav1{
    color:rgb(230,83,60) ;
    position: static;   
    font-weight: 800;
    font-size: 36px;
    padding:0px  
}
.nav2{
    color: rgb(255, 255, 255);    
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 1px solid white;
    border-radius: 50px;
    width: 465px;
    padding: 4px;
    height: 46px;
    box-sizing: border-box;
    justify-content: flex-start;
}
nav ul li{
    list-style: none;
    margin-left: 50px;
    margin-right: 2px;
    justify-content: space-around;
}
.bt{
    background: rgb(230, 83, 60);
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    flex: none;

}
.head{
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 57px;
   
}
.s1{
   color: rgb(255, 255, 255); 
   font-size: 78px;
   font-weight:700;
   text-align: left;
   letter-spacing: 0%;
   align-self: stretch;
   margin: 28px 20px;
   flex: none;
   line-height: 120%;
   position: static;
}
.s2{
    color: rgba(255, 255, 255, 0.5);
    position: static; 
    width: 520px;
    font-weight: 48px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin: 28px 20px;
}
.btn1{
    background-color: rgb(230, 83, 60);
}
.btn{
    color: rgb(255, 255, 255);
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    margin: 0px 14px;
    border: 1px solid rgb(255, 255, 255);
}
.sec1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 180px;
}
.txt{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 58px;
}
.txt1{
    padding: 0px;
    font-size: 48px;
    font-weight: 900;
    margin: 14px 0px;
    position: static;
}
.txt2{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin: 14px 0px;
    padding: 0px;
    font-weight: 400;
    line-height: 24px;
}
.contain{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 240px;
    margin-right: 200px;
    margin-bottom: 75px;  
}
.img{
    border-radius: 50%;
}
.hf{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 14px;
    margin: 6px 0px;
    padding: 0px;   
    height: 36px;
    margin-left: 10px;
    margin-right: 50px;
    width: 231px;
}
.hp{
    font-weight: 600;
    font-size: 18px;
    margin-left: 45px;
    margin-bottom: 0px;
    
}
.hp1{
    font-weight: 600;
    font-size: 18px; 
    margin-bottom: 0px;
    margin-left: 70px;
}
.hp2{
    font-weight: 600;
    font-size: 18px; 
    margin-bottom: 0px;
    margin-left: 55px;
}
.txt3{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    width: 443px;
    height: 116px;
    padding: 0px;
    margin: 14px 0px;
    background: rgb(34, 34, 34);
}
.txt4{
    background: rgb(34, 34, 34);
    color: rgba(255, 255, 255, 0.5);
}
.btn3{
    background: rgb(230, 83, 60);
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    margin: 34px 0px;
    width: 224px;
    height: 54px;
    color: rgb(255, 255, 255);
}
.run{  
    width: 366px;
    height: 312px;
    left: 662px;
    top: 30px;
    border-radius: 18px; 
}
.all{
    display: flex;
    justify-content: space-between;
    width: 1060px;
    height: 371px;
    align-items: center;
    margin-left: 500px;
    background: rgb(34, 34, 34);
    border-radius: 18px;
    margin-bottom: 100px;
}
.all2{
    background: rgb(34, 34, 34);
    margin-left: 40px;
}
.all3{
    margin-right: 10px;
    border-radius: 18px;
}
.dive{
    color: rgb(255, 255, 255);
    margin-bottom: 88px;
    margin-left: 50px;
    position: static;
    flex: none;
    
}
.dive1{
    width: 353px;
    height: 70px;
    padding: 0px;
    margin-left: 384.5px;
    margin-right: 702.5px;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}
.dive2{
    color: rgba(255, 255, 255, 0.5);
    width: 6741px;
    height: 70px;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 400;
    padding: 0px;
    margin-left: 384.5px;    
    margin-right: 384.5px; 

}
.input{
    color: rgb(255, 255, 255);
}
.tr{
    display: grid;
    grid-template-columns: 2,1fr;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.td{
    width: 310px;
    height: 216px;
    /* top: 138px;
    bottom: 133px; */
}
.divs{
    color: rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 14;
    order: 1;
    justify-content: flex-start;
    margin-bottom: 78px;  
    position: static;
    flex: none;
}
.divs2{
    margin-bottom: 4px;
    font-size: 48px;
    font-weight: 900;

}
.divs3{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 24px;
    margin-top: 0px;
    color: rgba(255, 255, 255, 0.5);
}
.main-contain{
    color: rgb(255, 255, 255);
    margin: 0 auto;
    max-width: 1100px;   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: 18px;
    height: 603px;
    margin-bottom: 88px;
}
.main2-contain{
    position: relative;
    background: rgba(255, 255, 255, 0.1);
}
/* .gd1{
    grid-area: a;
}
.gd2{
    grid-area: b;
}
.gd{
    grid-area: c;
}
.gd{
    grid-area: d;
}
.gd{
    grid-area: e;
}
.gd{
    grid-area: f;
} */


.im{
    width: 326.67px;
    height: 272px;
    border-radius: 18px;
    margin: 0px 20px 0px 20px;
}
.typ2{
    font-weight: 700;
    font-size: 28px;
    margin-top:50px;
    margin-bottom: 0px;
    margin-left: 40px;
    background: none;
}
.typ{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 90px;
    margin-bottom: 0px;
    margin-left: 40px;
    background: none;
}

.text{
    position: absolute;
    top: 50%;
    
}
.foot{
    background: rgba(255, 255, 255, 0.1);
    max-width: 1950px;
    height: 450px;
}
.row{
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 160px;
    margin-right: 250px;
    margin-top: 154px;
    
    
}   
.foot-t{
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 70px;  
    margin-bottom: 10px; 
}
.foot-p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0px;
}
.cp{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.cgp{
    font-weight: 700;
    font-size: 32px;
    margin: 20px 0px;
}
.dib{
    color: rgb(255, 255, 255);
    margin-left: 2px;
    margin-right: 152px;
    flex-direction: column;
}
.dib2{
    color: rgb(255, 255, 255);
    flex-direction: column;
}
hr{
    border: 2px solid rgba(255, 255, 255, 0.1);
    width: 81%;
}
.copyright{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
.bmi{
    position: relative;
    width: 1930px;
    height: 487px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: self-start;
}
.bmi1{
    color: rgb(255, 255, 255);
    position:absolute;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    margin-top: 52px;
    margin-left: 250px;
    margin-bottom: 52px;
    background: rgb(34, 34, 34);
    width: 443px;
    height: 200px;
}
.table{
    position: absolute;
    width: 310px;
    height: 216px;
    color: rgb(255, 255, 255);
    border: 1px rgba(255, 255, 255,0.1);
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 138px;
    margin-left: 250px;
    margin-bottom: 134px;
}
.cps{
    line-height: 120%;
    letter-spacing: 0%;
    width: 71px;
    height: 17px;
}
.cpx{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.concs{
    width: 577px;
    height: 386px;
    padding: 0px;
    gap: 34;
    margin-right: 200px;
    background: rgb(34, 34, 34);
}
.conc{
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 400px;
    background: rgb(34, 34, 34);
    margin-top: 49px;
    display: flex;
}
.conc2{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.3px;
    align-self: stretch;
    margin-top: 97px;
    background: rgb(34, 34, 34);
}
.last-btn{
    background: rgb(34, 34, 34);
}
.calc{
    color:rgb(255, 255, 255);
    width: 224px;
    height: 54px;
    background:rgb(230, 83, 60);
    border-radius: 42px;
    margin-bottom: 52px;
    
}
