*{
    background-color: black;
}
.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
    
}
.nav1{
    color:rgb(230,83,60) ;
    position: static;   
    font-weight: 800;
    font-size: 36px;
    padding:0px
    
    
}
.nav2{
    color: rgb(255, 255, 255);    
    display: flex;
    align-items: center;
    flex-direction: row;
    
}
nav ul li{
    list-style: none;
    margin-left: 47px;
    justify-content: space-around;
}
.bt{
    background: rgb(230, 83, 60);
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    flex: none;

}
.head{
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 57px;
    
}






